.site-title {
    opacity:1;
    display: inline-block;
    vertical-align: top;
    line-height: 36px;
    font-size: 20px;
    font-weight: normal;
}
.headband {
    height: 20px;
    background: rgb(113, 81, 253)
}